.bulk-import-item-list {
    h4 {
        margin-top: 0;
        margin-bottom: 12px;
        font-size: 16px;
        font-weight: 600;
    }

    &__items {
        padding: 0;
        margin: 0;
    }

    &__item {
        --padding-start: 0;
        --inner-padding-end: 0;
        font-size: 14px;

        ion-checkbox {
            margin-right: 12px;
        }
    }
}
